{% load static %}
{% load humanize %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
  <title>Sites publishing cloud accounting records</title>
  <link href="{% static 'stylesheet.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
</head>

<body>
  <h2>Sites publishing cloud accounting records in the last year</h2>
  <p>Data last fetched: {{ last_fetched|date:"Y-m-d H:i O" }}</p>
  <table border="1">
    <tr>
      <th class='tableheader'>Site</th>
      <th class='tableheader'>VMsInLastUpdate</th>
      <th class='tableheader'>CloudType</th>
      <th class='tableheader'>LastUpdated</th>
    </tr>
    {% for site in sites %}
    <tr>
      <td class='tabletext'>{{ site.SiteName }}</td>
      <td class='tabletext'>{{ site.Vms }}</td>
      <td class='tabletext'>{{ site.Script }}</td>
      <td class='tabletext'>{{ site.updated|date:"Y-m-d H:i:s" }}</td>
    </tr>
    {% endfor %}
  </table>
</body>
