<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head><meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
</head>

<head>
  <title>Sites publishing cloud accounting records</title>
</head>

<body>
  <h2>Sites publishing cloud accounting records from 2018-06-19 onwards</h2>
  <p>Page last updated: {{ last_fetched|date:"Y-m-d H:i:s.u" }}</p>
  <table border="1">
    <tr>
      <th>Site</th><th>VMsInLastUpdate</th><th>CloudType</th><th>LastUpdated</th>
    </tr>
    {% for site in sites %}
    <tr>
      <td>{{ site.name }}</td>
      <td>{{ site.vms }}</td>
      <td>{{ site.script }}</td>
      <td>{{ site.updated|date:"Y-m-d H:i:s" }}</td>
    </tr>
    {% endfor %}
  </table>
</body>
