{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>APEL Publication Summary</title>
  <link href="{% static 'stylesheet.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
</head>
<body>
<h3>APEL Publication Test</h3>
<ul>
  <li> Displays the last time the site published accounting data to APEL.
  <li> A warning / error is raised if the site has not published accounting data for 7 / 31 days.
  <li> Information about APEL: <a href='https://docs.egi.eu/providers/operations-manuals/man09_accounting_data_publishing/'>EGI Documentation</a>
  <li> Data last fetched: {{ last_fetched|date:"Y-m-d H:i O" }}
</ul>

<hr>

<table>
  <tr>
    <th class='tableheader'>Site</th>
    <th class='tableheader'>Measurement Date</th>
    <th class='tableheader'>Measurement Time</th>
    <th class='tableheader'>Publication Status</th>
  </tr>
  {% for site in sites %}
  <tr onmouseover="this.className='highlight-row'" onmouseout="this.className='tabletext'" class="tabletext">
    <td class='centralTableRow'>{{ site.SiteName }}</td>
    <td class='centralTableRow'>{{ site.updated|date:"Y-m-d" }}</td>
    <td class='centralTableRow'>{{ site.updated|date:"G:i:s" }}</td>
    <td class='centralTableRow'>{{ site.stdout }}</td>
  </tr>
  {% endfor %}
</table>

</html>
