{% load static %}
{% load humanize %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>APEL Publication Summary</title>
  <link href="{% static 'stylesheet.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
</head>
<body>
<h3>APEL Synchronisation Test</h3>
<ul>
  <li> A comparison is made between your local accounting, and the data that you have published to APEL.
  <li> Major differences are flagged with FAIL.
  <li> Information about APEL: <a href='https://docs.egi.eu/providers/operations-manuals/man09_accounting_data_publishing/'>EGI Documentation</a>
  <li> Data last fetched: {{ last_fetched|date:"Y-m-d H:i O" }}
</ul>

<hr>

<table>
  <tr><th colspan='6' class='tableheader'> {{ submisthosts.0.SiteName }}, {{ submisthosts.0.YearMonth }} </th></tr>
  <tr>
    <th class='tableheader'>Month</th>
    <th class='tableheader'>SubmitHost</th>
    <th class='tableheader'>Record Start</th>
    <th class='tableheader'>Record End</th>
    <th class='tableheader'>Record Count <br/> In Your Database</th>
    <th class='tableheader'>Record Count <br/> What You Published</th>
  </tr>

  {% for host in submisthosts %}
  <tr onmouseover="this.className='highlight-row'" onmouseout="this.className='tabletext'" class="tabletext">
    <td>{{ host.YearMonth }} </td>
    <td>{{ host.SubmitHost }}</td>
    <td>{{ host.RecordStart }}</td>
    <td>{{ host.RecordEnd }}</td>
    <td>{{ host.RecordCountInDb|intcomma }}</td>
    <td>{{ host.RecordCountPublished|intcomma }}</td>
  </tr>
  {% endfor %}
</table>

</html>
