{% load static %}
{% load humanize %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <title>APEL Publication Summary</title>
  <link href="{% static 'stylesheet.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
</head>
<body>
<h3>APEL Synchronisation Test</h3>
<ul>
  <li> A comparison is made between your local accounting, and the data that you have published to APEL.
  <li> Major differences are flagged with FAIL.
  <li> Information about APEL: <a href='https://docs.egi.eu/providers/operations-manuals/man09_accounting_data_publishing/'>EGI Documentation</a>
  <li> Data last fetched: {{ last_fetched|date:"c"|slice:":22" }}
</ul>

<hr>

<table>
  <tr><th colspan='7' class='tableheader'> All sites </td></tr>
  <tr>
    <th class='tableheader'>Site Name</th>
    <th class='tableheader'>Month</th>
    <th class='tableheader'>Record Start</th>
    <th class='tableheader'>Record End</th>
    <th class='tableheader'>Record Count <br/> In Your Database</th>
    <th class='tableheader'>Record Count <br/> What You Published</th>
    <th class='tableheader'>Synchronisation Status</th>
  </tr>

  {% for record in records.results %}
  <tr>
    <td class='tabletext'><a href="{% url 'gridsitesync-detail' SiteName=record.SiteName %}">{{ record.SiteName }}</a></td>
    <td class='tabletext'>{{ record.YearMonth }}</td>
    <td class='tabletext'>{{ record.RecordStart }}</td>
    <td class='tabletext'>{{ record.RecordEnd }}</td>
    <td class='tabletext'>{{ record.RecordCountPublished|intcomma }}</td>
    <td class='tabletext'>{{ record.RecordCountInDb|intcomma }}</td>
    <td class='tabletext'>{{ record.SyncStatus }}</td>
  </tr>
  {% endfor %}
</table>

</html>
