<!DOCTYPE html>
<html>
<body>

<h1>APEL Data Validation</h1>
<p>Welcome. This page gives an overview of the views available in the APEL Data Validation system.</p>

<ul>
    <li><a href="{% url 'availability' %}">{% url 'availability' %}</a></li>
    <li><a href="{% url 'cloudsite-detail' %}">{% url 'cloudsite-detail' %}</a></li>
    <li><a href="{% url 'gridsite-detail' %}">{% url 'gridsite-detail' %}</a></li>
    <li><a href="{% url 'gridsitesync-detail' %}">{% url 'gridsitesync-detail' %}</a></li>
    <li><a href="{% url 'benchmarks' %}">{% url 'benchmarks' %}</a></li>
</ul>

</body>
</html>
