{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>APEL Data Validation</title>
  <link href="{% static 'stylesheet.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
</head>
<body>

<h1>APEL Data Validation</h1>
<p>Welcome. This page gives an overview of the views available in the APEL Data Validation system.</p>

<h2>EGI/WLCG Grid Accounting</h2>
<ul>
    <li><a href="{% url 'gridsite-list' %}">{% url 'gridsite-list' %}</a> - An overview of when grid sites last published.</li>
    <li>{% url 'gridsitesync-list' %}SITENAME/ - A view showing the synchronisation status of an individual site.
        For example: <a href="{% url 'gridsitesync-detail' 'RAL-LCG2' %}">{% url 'gridsitesync-detail' 'RAL-LCG2' %}</a>
    </li>
    <li><a href="{% url 'benchmarksbysubmithost-list' %}">{% url 'benchmarksbysubmithost-list' %}</a> - An overview of the
        latest benchmark and record type published for each submit host at all grid sites.
    </li>
</ul>

<h2>EGI Cloud Accounting</h2>
<p><ul><li>
    <a href="{% url 'cloudsite-list' %}">{% url 'cloudsite-list' %}</a> - An overview of when cloud
    sites last published and what accounting script they are using.
</li></ul></p>

<h2>IRIS Cloud and Grid Accounting</h2>
<p><ul><li>
    <a href="{% url 'iriscloudandgrid-list' %}">{% url 'iriscloudandgrid-list' %}</a> - An overview of when IRIS cloud and grid
    sites last published.
</li></ul></p>

<h2>Return format</h2>
<p>
    The views above return HTML by default, but can be set to return JSON by adding <code>?format=json</code> at the end of the URL.
    For example: <a href="{% url 'gridsitesync-detail' 'RAL-LCG2' %}?format=json">{% url 'gridsitesync-detail' 'RAL-LCG2' %}?format=json</a>
</p>

</body>
</html>
