<!DOCTYPE html>
<html>
<body>

<h1>APEL Data Validation</h1>
<p>Welcome. This page gives an overview of the views available in the APEL Data Validation system.</p>

<ul>
    <li><a href="{% url 'cloudsite-list' %}">{% url 'cloudsite-list' %}</a></li>
    <li><a href="{% url 'gridsite-list' %}">{% url 'gridsite-list' %}</a></li>
    <li><a href="{% url 'gridsitesync-list' %}">{% url 'gridsitesync-list' %}</a></li>
    <li><a href="{% url 'benchmarksbysubmithost-list' %}">{% url 'benchmarksbysubmithost-list' %}</a></li>
</ul>

</body>
</html>
